.dg.ac {
    z-index: 2 !important;
}

canvas {
    position: absolute;
    padding: 0;
    margin: 0;
}

#canvas {
    z-index: 1;
}

#grid {
    z-index: 0;
}

body {
    margin: 0;
    padding: 0;
}